@{
    this.ViewData["Title"] = "Home";
}

<div id="content">Hello Papi</div>
<a class="container btn-danger rounded border" asp-action="Create" asp-controller="DishTypes"> + DishType</a>
<a asp-action="Index" asp-controller="DishTypes">Show All</a>



